@import 'reset';
$font-stack:    Helvetica, sans-serif;
$bg-color: #2aacff;
$bg-image: "bg.jpg";
$breackpoint : 320px;


body {
  background: $bg-color url($bg-image) repeat;
  font: 100% $font-stack;
  padding-left: 25%;
  padding-right: 25%;

  h1{
    text-align: center;
    color:red;
    font-size: 100%;
  }
  img {
    max-width: 100%;
  }
  article {
    height: 100vh;
    overflow: hidden;

    header{
      height: 10%;
      margin-bottom: 5%;
    }
    #one{
      #slider1 {

      }
      #slider2 {
      }

      #middle div{
        width: auto;
        height: 20px;
      }

      #container {
        width: 100px;
        p{
          position: center;
        }
      }

    }
    #two{

    }
    #three {
      //.lasttext {
      //  width:270px;
      //  height:150px;
      //  position:absolute;
      //  left:50%;
      //  top:50%;
      //  margin:-75px 0 0 -135px;
      //}

    }
  }


}

@media screen and (min-width: $breackpoint) {

  body{
    padding-left: 5%;
    padding-right: 5%;
    h1{
      color:red
    }
  }
  #container {
    text-align: center;
    height: 50%;
    margin: 5% 5% ;
  }
  #sliderleft {
    width: 40%;
    float: left;
  }
  #middle {
    width: 5%;
    display: inline;
  }
  #sliderright {
    width: 40%;
    float: right;
  }

}