@import 'reset';
$font-stack:    Helvetica, sans-serif;
$bg-color: #2aacff;
$bg-image: "bg.jpg";
$breackpoint : 320px;
$breackpoint-tablet : 480px;


body {
  font: 100% $font-stack;
  background: $bg-color url($bg-image) no-repeat fixed;
  height:100% ;
  article {
    padding: 10% 10% 0% 10%;
    height: 100vh;
    text-align: center;
    header {
      text-align: center; /* centrage horizontal */

      h1 {
        color: yellow;
        font-size: 2rem;
        margin-bottom: 10px;
      }
      footer{
        width: 100px;
        margin:auto;
      }
    }
    img {
      max-width: 100%;
    }



    #one{
      header{
        margin-bottom: 5px;
      }
      #container {
        padding: 50% 0;
        width: 80%;
        text-align: center;


        div#middle{
          font-size: 100vw;
          width: auto;
          border:1px black;
          display: inline;
        }
      }
    }
    #two{
        header{
          padding-bottom: 10px;
          margin-bottom: 10px;
        }

    #slider3{
      height: 100px;
      margin: auto;
      }
    }
    #three {

    }
  }


}

@media screen and (min-width: $breackpoint) and (min-width: $breackpoint-tablet) {

  body{
    font-size: 4vw;
    header{
      height: 100px;
      text-align:center; /* centrage horizontal */

    }

  article {

    h1{
      color:red;
      margin-bottom: 10px;

    }
    #container {

      text-align: center;

      margin: 5% 5% ;

      #sliderleft {
        width: 40%;
        float: left;
      }
      #middle {
        width: 50px;
        display: inline;
        margin:auto;
      }
      #sliderright {
        width: 40%;
        float: right;
      }
    }
  }
}
.center{
  text-align: center;
  width: auto; /* largeur du bloc */
  padding: 10px; /* aération interne du bloc */
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2; /* on rétablit le line-height */
 }
}


